/*



*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: monospace;
  font-style: normal;
  font-variant: normal;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
input {
  font-family: monospace;
  font-style: normal;
  font-variant: normal;
}

.centred {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
}

/* Remove */
.ie {
  position: relative;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  font-family: monospace;
  font-style: normal;
  font-variant: normal;
  margin: 0px;
}

.ie.border {
  border: 1px solid #ccc;
}

.ie.border-radius {
  border-radius: 4px;
}

.ie.abstract {
  overflow: visible;
  position: absolute;
}

.ie.hidden {
  display: none !important;
}

.ie.abs {
  position: absolute;
}

.ie.title {
  font-size: 22px;
  margin-bottom: 10px;
}

/* Scroll */
.ie.scroll-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ie.scroll-wrapper .scroll {
  height: 100%;
  width: calc(100% + 20px);
  overflow-y: scroll;
  padding-right: 20px;
}

/* centred vertically */
.ie.centred-vertically {
  top: 50%;
  transform: translateY(-50%);
}

/* centred horizontally */
.ie.centred-horizontally {
  left: 50%;
  transform: translateX(-50%);
}

/* centred both */
.ie.centred {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*

3. Panels

*/

/* Full panel */
.ie.panel {
  height: 70%;
  width: calc(100% - 60px);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
  box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}

/*

4. Buttons

*/
.ie.button {
  padding-top: 11px;
  padding-right: 10px;
  padding-left: 10px;
  height: 40px;
  text-align: center;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  font-size: 15px;
  color: #888;
  cursor: pointer;
  display: block;
}

/*

5. Inputs

*/

.ie.input {
  box-sizing: border-box;
  color: #888;
  height: 40px;
  padding-top: 11px;
  padding-left: 10px;
  cursor: text;
  font-size: 15px;
}

.ie.input.error {
  border: 1px solid palevioletred;
  color: palevioletred;
}

.ie.input:focus {
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
  outline: none;
  color: #888;
}

.ie.input.top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ie.input .head {
  display: inline-block;
  position: absolute;
  min-width: 2px;
  padding-left: 1px;
}

.ie.input .head:focus {
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
  outline: none;
}

.ie.input .tail {
  display: inline-block;
  position: relative;
  opacity: 0.5;
  pointer-events: none;
  padding-left: 1px;
}
