{% load staticfiles %}
{% csrf_token %}
<!doctype html>
<html {{ html_attr|safe }}>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}{% endblock %}</title>
    <meta name='description' content='{% block description %}{% endblock %}'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no'>
    <link rel='stylesheet' href='{% static "css/bootstrap/3.3.6/bootstrap.css" %}'>
    <link rel='stylesheet' href='{% static "css/ui.css" %}'>
  </head>
  <body {{ body_attr|safe }}>
    <div id='hook'></div>

    <!-- jQuery -->
    <script src='{% static "js/jquery/2.2.2/jquery.min.js" %}'></script>

    <!-- Third party (no local deps) -->
    <script src='{% static "js/util/mousetrap.js" %}'></script> <!-- keyboard shortcuts -->

    <!-- general utility stuff comes before local -->
    <script src='{% static "js/util/mods.js" %}'></script>
    <script src='{% static "js/util/util.js" %}'></script>
    <script src='{% static "js/util/csrf.js" %}'></script>

    <!-- UI -->
    <script src='{% static "js/ui/ui.js" %}'></script>
    <script src='{% static "js/ui/color.js" %}'></script>

    <script src='{% static "js/ui/components/components.text.js" %}'></script>
    <script src='{% static "js/ui/components/components.list.js" %}'></script>
    <script src='{% static "js/ui/components/components.input.js" %}'></script>
    <script src='{% static "js/ui/components/components.form.js" %}'></script>
    <script src='{% static "js/ui/components/components.button.js" %}'></script>
    <script src='{% static "js/ui/components/components.buttonGroup.js" %}'></script>
    <script src='{% static "js/ui/components/components.panel.js" %}'></script>
    {% block js %}{% endblock %}
  </body>
</html>
