{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Authentication {% endblock %}
{% block js %}
<!-- specific UI -->

<script src="{% static 'js/ui/test/components/test.components.list.js' %}"></script>
<script src="{% static 'js/ui/test/components/test.components.panel.js' %}"></script>

<script src="{% static 'js/ui/test/interfaces/test.interfaces.centred.js' %}"></script>

<script src="{% static 'js/ui/test/test.application.js' %}"></script>
<script src="{% static 'js/ui/test/test.js' %}"></script>

{% endblock %}
