{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Account {% endblock %}
{% block js %}
<!-- Load -->
<script src="{% static 'rowbot/js/app/interfaces/app.interfaces.load.js' %}"></script>

<!-- Account -->
<script src="{% static 'rowbot/js/app/interfaces/app.interfaces.account.js' %}"></script>

<!-- Club -->
<script src="{% static 'rowbot/js/app/interfaces/club/app.interfaces.club.main.js' %}"></script>
<script src="{% static 'rowbot/js/app/interfaces/club/app.interfaces.club.new.js' %}"></script>
<script src="{% static 'rowbot/js/app/interfaces/club/app.interfaces.club.single.js' %}"></script>

<!-- Member -->


<!-- Main interface -->
<script src="{% static 'rowbot/js/app/app.application.js' %}"></script>
<script src="{% static 'rowbot/js/app/app.js' %}"></script>
<script src="{% static 'rowbot/js/app/app.test.js' %}"></script>
{% endblock %}
