{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Account {% endblock %}
{% block js %}
<!-- specific UI -->
<!-- App components -->
<script src="{% static 'rowbot/js/app/components/app.components.new.js' %}"></script>
<script src="{% static 'rowbot/js/app/components/app.components.toggle.js' %}"></script>

<!-- App interfaces -->
<script src="{% static 'rowbot/js/app/interfaces/app.interfaces.account.js' %}"></script>
<script src="{% static 'rowbot/js/app/interfaces/app.interfaces.asset.js' %}"></script>
<script src="{% static 'rowbot/js/app/interfaces/app.interfaces.club.js' %}"></script>
<script src="{% static 'rowbot/js/app/interfaces/app.interfaces.event.js' %}"></script>
<script src="{% static 'rowbot/js/app/interfaces/app.interfaces.main.js' %}"></script>
<script src="{% static 'rowbot/js/app/interfaces/member/app.interfaces.member.main.js' %}"></script>
<script src="{% static 'rowbot/js/app/interfaces/member/app.interfaces.member.single.js' %}"></script>
<script src="{% static 'rowbot/js/app/interfaces/member/app.interfaces.member.new.js' %}"></script>
<script src="{% static 'rowbot/js/app/interfaces/app.interfaces.team.js' %}"></script>

<!-- Main interface -->
<script src="{% static 'rowbot/js/app/app.application.js' %}"></script>
<script src="{% static 'rowbot/js/app/app.js' %}"></script>
<script src="{% static 'rowbot/js/app/app.test.js' %}"></script>
{% endblock %}
